@import url('https://fonts.googleapis.com/css?family=Oswald');
body {
  margin: 0;
  font-family: "Oswald",sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 10px solid #2088e3;
}

code {
  font-family: "Oswald",sans-serif !important;
}

